<div class="container" style="margin-top:3%">
    <h4 align="center" class="center-align" style="font-size: xx-large;">Welcome to the Hood-Talk.</h4>

    <!-- <app-show-neighborhood></app-show-neighborhood> -->
    <div class="container">       
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Name</th>
              <th scope="col">Location</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dataItem of neighborhoodList">
              <th scope="row" routerLink="neighborhood">Hood</th>
              <td>{{ dataItem.id }}</td>
              <td>{{ dataItem.name }}</td>
              <td>{{ dataItem.location }}</td>
              <td>{{ dataItem.description }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      
    <div class="row">
        <div class="w3-row">
            <div class="w3-row w3-center">
                <br>
                <div class="w3-col l6 m6 s12">
                    <br>
                    <h3>Health Care Department</h3>
                    <div class="w3-card-4 w3-white w3-padding w3-margin ">
                        <header>
                            <h4><strong>Contact Information</strong></h4>
                            <hr>
                        </header>
                        <div class="w3-container w3-margin">
                            <p><i class="fa fa-at"></i> General Hospital</p>
                            <hr>
                            <p><i class="fa fa-map-marker"></i> Main Road</p>
                            <hr>
                            <p><i class="fa fa-phone" aria-hidden="true"></i> Emergency contact: 911</p>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="w3-col l6 m6 s12 ">
                    <br>
                    <h3>Police Department</h3>
                    <div class="w3-card-4 w3-white w3-padding w3-margin ">
                        <header>
                            <h4><strong>Contact Information</strong></h4>
                            <hr>
                        </header>
                        <div class="w3-container w3-margin">
                            <p><i class="fa fa-at"></i> Police Station</p>
                            <hr>
                            <p><i class="fa fa-map-marker"></i> Main Road </p>
                            <hr>
                            <p><i class="fa fa-phone" aria-hidden="true"></i> Emergency contact: 999</p>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="w3-col l6 m6 s12 ">
                    <br>
                    <h3>Supermarket</h3>
                    <div class="w3-card-4 w3-white w3-padding w3-margin ">
                        <header>
                            <h4><strong>Contact Information</strong></h4>
                            <hr>
                        </header>
                        <div class="w3-container w3-margin">
                            <p><i class="fa fa-at"></i> Supermarket</p>
                            <hr>
                            <p><i class="fa fa-map-marker"></i> Main Road </p>
                            <hr>
                            <p><i class="fa fa-phone" ></i> Delivery contact: +254-726-932-418</p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

