@import "~bootstrap/dist/css/bootstrap.css" ;
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Permanent+Marker&family=Satisfy&display=swap');

h1{
    font-family: 'Lobster Two', cursive;

}

.navbar{
    display: flex;
    justify-content: space-between;
}

a{
    color:black
}

.collaps{
    display: flex;
    color:black
}