<div class="container">
    <form>
        <div class="form-group">
            <label>Name</label>
            <input required ngModel name="name" type="text"id="name">
            <div class="alert alert-danger" *ngIf="!name.touched && !name.valid">Field input not valid</div>
        </div>

        <div class="form-group">
            <label>email</label>
        <input type="email"id="name">
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password"id="name">
        </div>
        <button class="btn-primary">sign up</button>
    </form>
</div>
