<div class="container-fluid">
        <form>
            <button>Neighbourhood</button>
            <button>Business</button>
            <button>Whats popping?</button>
            <button>Meetings</button>
        </form>
    

 </div>
        <section class="tables">
            <div class="col-md-6">

                <h3>Neighbourhood</h3>
                <table class="table table-striped table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Hood</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Nairobi</td>
                       
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Mombasa</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Kwale</td>
                        
                      </tr>
                    </tbody>
                  </table>
            </div>
              <div class="col-md-6">
                <h3>Businesses</h3>
                <table class="table table-striped table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Hood</th>
                        <th scope="col">Hood</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Nairobi</td>
                        <td>Nairobi</td>
                       
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Mombasa</td>
                        <td>Nairobi</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Kwale</td>
                        <td>Nairobi</td>
                        
                      </tr>
                    </tbody>
                  </table>
              </div>
        </section>
<hr>
        <section>
            <div class="container">
                <h3>Contact Information</h3>
                <small>Important contact information</small>
                <div class="row">    
                    <div class="hospital col-md-6">
                        <h3>Afya Bora Hospital</h3>
                        <ul>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> +254782937392 // 011003846483 </li>
                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> afyabora@hood.com</li>
                            <li><i class="fa fa-globe" aria-hidden="true"></i> www.afyabora.com</li>
                            <li><i class="fa fa-facebook" aria-hidden="true"></i> <a href="#">afya bora</a></li>
                        </ul>     
                    </div>

                    <div class="hospital col-md-6">
                        <h3>Home Fire Dept</h3>
                        <ul>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> +254782938992 // 011073846483 </li>
                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> home@hood.com</li>
                            <li><i class="fa fa-globe" aria-hidden="true"></i> www.home.com</li>
                            <li><i class="fa fa-facebook" aria-hidden="true"></i> <a href="#">home_fire_dept</a></li>
                        </ul>
                        
                    </div>
                    <div class="row police">
                        <div>
                            <h3>Police </h3> 
                            <li><i class="fa fa-phone" aria-hidden="true"></i> +254782938992 // 011073846483 </li>
                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> policedept@hood.com</li>
                        </div>

                    </div>
                
            </div>
            </div>
        </section>
