<!-- Trigger the modal with a button -->
<!-- <button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" data-target="#myModal" (click)="addClick()" data-backdrop="static" data-keyboard="false"> Add Neighborhood</button> -->

<!-- Modal -->
<!-- <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-xl"> -->

    <!-- Modal content-->
    <!-- <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="closeClick()">&times;</button>
        <h4 class="modal-title">{{ModalTitle}}</h4>
      </div>
      <div class="modal-body">
        <app-add-edit-neighborhood [neighborhood]="neighborhood" *ngIf="ActiveAddEditNeighborhoodComp"></app-add-edit-neighborhood>
      </div>
    </div>

  </div>
</div>

<div class="container">       
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Name</th>
          <th scope="col">Location</th>
          <th scope="col">Admin</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataItem of NeighborhoodList"> -->
          <!-- <th scope="row" routerLink="neighborhood">Hood</th> -->
          <!-- <td>{{ dataItem.id }}</td>
          <td>{{ dataItem.name }}</td>
          <td>{{ dataItem.location }}</td>
          <td>{{ dataItem.admin }}</td>
          <td>{{ dataItem.description }}</td>
          <td>
              <button type="button" class="btn btn-light mr-1" data-toggle="modal" data-target="#myModal" (click)="editClick(dataItem)" data-backdrop="static" data-keyboard="false">
                  Edit
              </button>
              <button type="button" class="btn btn-light mr-1">
                  Delete
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->
